<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="monogame-develop" value="http://teamcity.monogame.net/guestAuth/app/nuget/feed/_Root/default/v3/index.json" protocolVersion="3" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>
